 <%= render partial:"shared/navbar", locals:{page: 'REGISTRATION'} %>

<div class="w-full bg-white mt-5 border-0 border-t-2 border-b-2 border-gray-300 pl-3">
<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f|  %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div >
    <%= f.text_field :name,autocomplete: "name", placeholder: "Full name", class:"py-3 border-0 border-b-2 focus:shadow-none focus:ring-0 border-gray-200 w-full"%>
  </div>

  <div class="">
    <%= f.email_field :email, autocomplete: "email",placeholder: "Email", class:"py-3 border-0 border-b-2 focus:shadow-none focus:ring-0 border-gray-200 w-full" %>
  </div>

  <div class="">
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "new-password",  class:"py-3 border-0 border-b-2 focus:shadow-none focus:ring-0 border-gray-200 w-full" %>
  </div>

  <div class="">
    <%= f.password_field :password_confirmation, autocomplete: "new-password", class:"py-3 border-0 border-b-2 focus:shadow-none focus:ring-0 border-gray-200 w-full" %>
  </div>

  <div class="">
    <%= f.submit "Sign up" %>
  </div>
<% end %>
</div>

<%= render "devise/shared/links" %>
