<%= render partial:"shared/navbar", locals:{page: 'LOG IN',path: app_path} %>

<div class="w-full bg-white mt-5 border-0 border-t-2 border-b-2 border-gray-300 pl-3 py-5">
<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div>
    <%= f.email_field :email, autofocus: true, autocomplete: "email",placeholder:"Email", class:"py-3 border-0 border-b-2 focus:shadow-none focus:ring-0 border-gray-200 w-full" %>
  </div>

  <div>
    <%= f.password_field :password, autocomplete: "current-password",placeholder:"Enter your password",class:"py-3 border-0 border-b-2 focus:shadow-none focus:ring-0 border-gray-200 w-full" %>
  </div>

  <% if devise_mapping.rememberable? %>
    <div class="mt-2">
      <%= f.check_box :remember_me %>
      <%= f.label :remember_me %>
    </div>
  <% end %>

  <div class= "flex items-center gap-3 flex-wrap pr-2">
  <div class="p-2 rounded-lg bg-main-300 mt-2 inline-block text-white">
    <%= f.submit "Log in" %>
  </div>
    <%= render "devise/shared/links" %>
  </div>
<% end %>
</div>

